{
  "presets": [
    "es2015",
    "stage-3"
  ],
  "plugins": [
    "transform-class-properties"
  ],
  "env": {
    "test": {
      "plugins": [
        ["istanbul", {
          "exclude": [
            "tests",
            "test-utils"
          ]
        }]
      ]
    }
  }
}
