{
    "presets": [
        ["@babel/env", {
            "targets": {
                "browsers": ["last 2 versions"]
            },
            "useBuiltIns": "usage"
        }]
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-export-default-from"
    ],
    "env": {
        "test": {
            "plugins": [
                [
                    "istanbul",
                    {
                        "exclude": [
                            "tests",
                            "test-utils"
                        ]
                    }
                ]
            ]
        }
    }
}
